@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.category-section {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 4rem 15% 2rem;
}

.category-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-weight: 200;
}

.category-title .divide-line:first-child {
    margin-right: 1.6rem;
}

.category-title .divide-line:last-child {
    margin-left: 1.6rem;
}

.divide-line {
    flex: 1;
    height: 0.8rem;
    background-size: contain;
    height: 2px;
    width: 80%;
    background: linear-gradient(90deg, #00000085, #f5f5f5, #00000085);
}

.product-section {
    margin-bottom: 4.7rem;
}

div.product {
    margin: 0;
}

.product-image img {
    width: 100%;
    padding: 28px;
    height: 14em;
    object-fit: contain;
}

div.product-image {
    border: 1px solid #dedede;
}

.product-title,
.discover-more-title {
    /* flex-grow: 1; */
    max-width: 100%;
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: capitalize;
    padding: 0;
    margin: 0 0 0 1px;
    color: #000;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.product-details,
.discover-more,
.dismore {
    display: flex;
    margin: 0;
    cursor: pointer;
}

.product-details div,
.discover-more div,
.dismore div {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}


.ratings-container {
    text-align: left !important;
}

.ratings-container span {
    font-size: 0.9rem;

}

.product-price {
    color: #000;
}

.product.css-cfvv5u {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.cart-icon svg,
.arrow-icon svg {
    width: 0.8em;
    height: 0.8em;
    color: black;
}

.wishlist {
    position: absolute;
    visibility: hidden;
}

.product-image:hover .wishlist {
    visibility: visible;
}

.discover-more-title {
    text-transform: uppercase;
    color: #9d8d6c;
    font-weight: 600;
    padding-right: 3px;
    font-size: 0.9rem;
}

.arrow-icon svg {
    color: #9d8d6c;
}

.discover-more:hover {
    text-decoration: underline;
}

.discover-more {
    margin-left: auto;
    margin-top: 15px;
}

@media (max-width: 780px) {
    .category-section {
        margin: 4rem 7% 2rem;
    }
}

@media (max-width: 490px) {
    .category-section {
        font-size: 1rem;
    }
}