@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4.electroLogo {
    font-family: 'Montserrat Alternates', sans-serif !important;
    margin: 9px 0;
    font-size: 1.6rem;
}

div.searchBox {
    background-color: #f5f5f5;
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
}

div.searchBox .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    top: -10px;
    font-size: 0.875rem;
}

div.searchBox fieldset {
    border-color: rgb(0 0 0 / 6%);
}

div.searchBox input {
    height: 0;
}

div.searchBox:hover fieldset {
    border-color: #000 !important;
}

div.nav-icons {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.nav-icons .nav-btn {
    display: block;
    padding: 0;
    min-width: 2.5rem;
    margin-top: 1.4rem;
}

div.searchBox fieldset .css-14lo706 {
    color: #000;
}

@media(max-width:900px) {
    div.searchBox {
        width: 10rem;
    }
    h4.electroLogo {
        margin: 17px 0;
        font-size: 1.1rem;
    }
    .nav-icons .nav-btn {
        min-width: 2em;
        margin-top: 1.4rem;
    }
    .nav-icons svg {
        width: 0.8em;
        height: 0.8em;
    }
    div.Nav-Bar {
        padding: 0;
    }
}

@media (max-width: 350px) {
    div.searchBox {
        display: none;
    }
}